

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

天天生鲜-商品详情

    </title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    

    
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    



</head>
<body>
    
    	<div class="header_con">
		<div class="header">
			<div class="welcome fl"><a href="/app/index/">欢迎来到天天生鲜!</a></div>
			<div class="fr">

				<div class="login_info fl" >
                    {% if request.session.username %}
                <a href="">欢迎您：{{request.session.username}}</a>
                {% endif %}
					<a href="/app/logout/">退出</a>
				</div>

				<div class="login_btn fl" >
					<a href="/app/login/">登录</a>
					<span>|</span>
					<a href="/app/register/">注册</a>
				</div>

				<div class="user_link fl">
					<span>|</span>
					<a href="/app/info/">用户中心</a>
					<span>|</span>
					<a href="/app/cart/" >我的购物车</a>
					<span>|</span>
					<a href="/app/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>
    

    
	<div class="search_bar clearfix">
		<a href="/goods/index/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
            <form class="form-inline" action="{% url 'app:check' %}" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="ebekwMd4HXIhCTTpZYg0WWPTKROmneTYmoz4DMdP6Z7WbM00HlgkIo7jY7hbtg1T">
                <input type="text" class="input_text fl" name="check" placeholder="搜索商品">
			    <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
		<div class="guest_cart fr">
			<a href="/app/cart/" class="cart_name fl">我的购物车</a>
{#			<div class="goods_count fl" id="show_count">1</div>#}
		</div>
		<script>
			$.get('/cart/cart_num/',function(data){
				if(data.code == '200'){
					$('#show_count').text(data.count)
				}
			})
		</script>
	</div>
    

    
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/list/1/" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list/2/" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list/3/" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list/4/" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list/5/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list/6/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/app/index/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="" onclick="app()">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="" onclick="app()">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/goods/index/">全部分类</a>
		<span></span>
		
			
		<a href="/goods/list/1/">
				新鲜水果
		</a>
			
		
			
		
			
		
			
		
			
		
			
		
		<span></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ good.pic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ good.name }}</h3>
			<p>无</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em class="show_pirze1">{{ good.price }}</em></span>
				<span class="show_unit">单  位：1kg</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a onclick="add_goods()" href="javascript:;" class="add fr">+</a>
					<a onclick="sub_goods()" href="javascript:;" class="minus fr">-</a>
				</div>
				<script>
				function add_goods(){
					var num = $('.num_show').val()
					var price = parseInt($('.show_pirze1').text())
					var new_num = parseInt(num) + 1
					$('.num_show').val(new_num)
					total = new_num * price
					$('#price').text(total)
				}

				function sub_goods(){
					var num = $('.num_show').val()
					var price = parseInt($('.show_pirze1').text())
					if(parseInt(num) > 1){
						var new_num = parseInt(num) - 1
						$('.num_show').val(new_num)
						total = new_num * price
						$('#price').text(total)
					}
				}

				</script>
			</div>
			<div class="total">总价：<em id="price">1.0</em>元</div>
			<div class="operate_btn">
{#				<a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="">购物车</a>
{#			    <a onclick="add_cart(7)"
				   href="javascript:;"
				   class="add_cart"
				   id="add_cart">
					加入购物车
				</a>
			</div>
			</div>
            <input type="hidden" name="csrfmiddlewaretoken" value="ebekwMd4HXIhCTTpZYg0WWPTKROmneTYmoz4DMdP6Z7WbM00HlgkIo7jY7hbtg1T">

		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					
					<li>
						<a href="/goods/detail/7/"><img src="/media/goods/images/goods003_ctorEWk.jpg"></a>
						<h4><a href="/goods/detail/7/">草莓</a></h4>
						<div class="prize">￥1.0</div>
					</li>
					
					<li>
						<a href="/goods/detail/9/"><img src="/media/goods/images/goods002_84wwc2I.jpg"></a>
						<h4><a href="/goods/detail/9/">葡萄</a></h4>
						<div class="prize">￥10.0</div>
					</li>
					
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>
			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>None</dd>
				</dl>
			</div>

		</div>
	</div>


    

    	<div class="footer">
		<div class="foot_link">
			<a href="" onclick="none()">关于我们</a>
			<span>|</span>
			<a href="" onclick="none()">联系我们</a>
			<span>|</span>
			<a href="" onclick="none()">招聘人才</a>
			<span>|</span>
			<a href="" onclick="none()">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	<script>
		function none(){
			alert('暂不开放，滚')
			location.reload
		}

	</script>
    
<div class="add_jump"></div>


    

	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;
		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;
		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
                        <!--window.locaion.reload()-->
					});
			});
		})
	</script>

</body>
</html>