
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-用户中心</title>
    <script src="/static/js/jquery1.11.3/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				{% if request.session.username %}
                <a href="">欢迎您：{{request.session.username}}</a>
                {% endif %}
				<div class="login_btn fl">
{#					<a href="logini.html">登录</a>#}
					<span>|</span>
{#					<a href="register.html">注册</a>#}
				</div>
				<div class="user_link fl">
                    <span>|</span>
                    <a href="/app/index/">首页</a>
					<span>|</span>
					<a href="/app/info/">用户中心</a>
					<span>|</span>
					<a href="/app/cart/">我的购物车</a>
					<span>|</span>
					<a href="/app/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>


 <div class='container'style="font-size: 30px" center="true">
    <div class="row" style=" text-align:center;">
            <div class="alert alert-warning" role="alert">{{ a }}</div>
            <div class="alert alert-warning" role="alert">{{ b }}</div>
            <div class="alert alert-warning" role="alert">{{ c }}</div>
            <div class="alert alert-warning" role="alert">{{ d }}</div>
    </div>


{##}
{#	<div class="search_bar clearfix">#}
{#		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>#}
{#		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>#}
{#		<div class="search_con fr">#}
{#			<input type="text" class="input_text fl" name="" placeholder="搜索商品">#}
{#			<input type="button" class="input_btn fr" name="" value="搜索">#}
{#		</div>#}
	</div>

	<div class="main_con clearfix">

{#		<div class="right_content clearfix">#}
{#				<h3 class="common_title2">收货地址</h3>#}

				<h3 class="common_title2">找回密码</h3>
				<div class="site_con">
					<form action="/app/passwords/" method="POST" id="d1" >
                        {% csrf_token %}
						<div class="form_group">
							<label>输入用户名：</label>
							<input type="text" name="username">
						</div>
						<div class="form_group">
							<label>邮箱：</label>
{#							<input type="text" name="email">#}
						</div>
                        <button>发送验证码</button>
                        <div class="form_group">
							<label>输入验证码：</label>
							<input type="text" name="yzm">
						</div>
                          <div class="form_group">
							<label>新密码：</label>
							<input type="password" name="password">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>



</body>
</html>
<script>
    $('button').click(function (ev) {
        ev.preventDefault()
        $.post("{% url 'app:send' %}",$('#d1').serialize())

    })
</script>